.pendingGrid{
    align-items: center;
    justify-content: center;
    
    flex-direction: row;
    flex-wrap: wrap;
}

.imageText, .galleryItem img{
    width: 200px;
    height: 200px;
    padding: 20px;
    object-fit: cover;
    margin: auto;
}
  
.actionDiv{
    display: flex;
    justify-content: space-between;
}