#event-item-tr td{
    padding-right: 1.5vw;
    padding-left: 1.5vw;
    text-align: center;
}

#queue-btn{
    color: rgb(255, 255, 255);
    background-color: #f8961ead;
}

#queue-btn:hover {
    color: rgb(255, 255, 255);
    background-color: #F94144;
}

