/* Object */
/* {"Red Salsa":"f94144",
    "Orange Red":"f3722c",
    "Yellow Orange Color Wheel":"f8961e",
    "Mango Tango":"f9844a",
    "Maize Crayola":"f9c74f",
    "Pistachio":"90be6d",
    "Zomp":"43aa8b",
    "Cadet Blue":"4d908e",
    "Queen Blue":"577590",
    "CG Blue":"277da1"} */


    @import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Knewave&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Work+Sans&display=swap');

body{
    background-color: white;
}



.centered {
    display: flex;
    flex-wrap: wrap ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4%;
}
  
/* .inputCentered {
    width: 90px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 10px;
}
  
.selectCentered {
    width: 120px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 10px;
} */
  
.buttonDiv {
    display: block;
    margin: 6% ;
}

.drawLogo{
    /* outline: tomato dashed 2px; */
    text-align: center;
    display: block;
    width: 80%;
    margin: auto;
}
.logo{
    /* display: block; */
    text-align: center;
    margin: auto;
}

.copytext{
    width: 80%;
    margin: 0px auto 4% auto;
    font-family: 'Work Sans', sans-serif;
    font-size: larger;
    text-align: center;
}

.title{
    font-family: 'Cabin Sketch', cursive;
    font-size: 5em;
    color: #577590;
    text-align: center;

}

.smallerTitle{
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5em;
    margin: 8%;
    color: #577590;
    text-align: center;
}

.submitBtn{
    margin-top: 6em;
}

a{
    text-decoration: none;
}