#user-page-container{
    background-color: rgb(53, 67, 255);
    border-radius: 20px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 5%;
    margin: auto;
    margin-top: 15vh;

}

.user-page-h1 {
    color: white;
}

.user-page-p{
    color: white;
}