#user-page-container{
    background-color: rgb(53, 67, 255);
    border-radius: 20px;
    text-align: center;
    width: fit-content;
    height: fit-content;
    padding: 5%;
    margin: auto;
    margin-top: 15vh;
    color: white;
}

#welcome-mail-icon:hover{
    color: #18ffd9
}


.welcome-div{
    background-image: url("../../Images/RoyaltyFreeColoredPencils2.jpeg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.transluscent-welcome{
    background-color: rgba(255, 255, 255, 0.301);
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}