#span-login{
    color: white;
    font-size: 16px;
    padding-right: 15vw;
}

#span-login:hover{
    color: #00f7e3;
}

#home-nav-container{
    text-align: right;
    margin: auto;
    background-color: #7a7a7ac2;
    color:white;
}