html,
body,
#react-root {
  height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Work+Sans&display=swap');

/*
palette: 
#F94144
#F3722C
#F8961E
#F9844A
#F9C74F
#90BE6D
#43AA8B
#4D908E
#577590
#277DA1

text: Cabin Sketch
body text: Work Sans
*/
body {
  font-family: 'Work Sans', sans-serif;
  margin: 0px;
  color: black;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}



/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}


/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #ffffff;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}


a {
  text-decoration: none;
}

a:visited{
  color: black;
}

h1{
  color: #277DA1;
  font-size: 36px;
  font-family: 'Cabin Sketch', cursive;
}
h2{
  color: #277DA1;
  font-size: 30px;
  font-family: 'Cabin Sketch', cursive;
}
h3{
  color: #277DA1;
  font-size: 28px;
  font-family: 'Cabin Sketch', cursive;
}
h4{
  color: #277DA1;
  font-size: 24px;
  font-family: 'Cabin Sketch', cursive;
}
h5{
  color: #277DA1;
  font-size: 20px;
  font-family: 'Cabin Sketch', cursive;
}

p{
  font-size: 18px;
}

