#login-div{
    box-sizing: border-box;
    width: 400px;
    max-width: 100%;
    padding: 25px;
    margin: 0 auto 20px;
    background-image: linear-gradient(240deg, #9e7aff, #4534ff);
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

#login-h1{
    color: white;
}

#login-btn{
    color: rgb(255, 255, 255);
    background-color: rgb(212, 8, 69);
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

#login-btn:hover {
    background-image: linear-gradient(50deg, #00aeff, #00e00b);
    box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
    color: white;
}

#login-textfield {
    color: rgb(72, 72, 72);
    background-color: white;
    border-radius: 5px;
}

.textfield-div {
    margin-top: 15px;
}

.reg-log-btn-div {
    margin-top: 10px;
    position: relative;
    text-align: right;
}

