#event-create-grid-container{
    max-width: 80vw;
    margin: auto;
}

#event-create-div-container{
    margin: auto;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-image: linear-gradient(50deg, #ec0206d3, #fbb614ce);
    color: white;

}

#event-create-div-container h2{
    color: #ffffff;
}

#event-create-date{
    color: #a60019;
    background-color: rgb(255, 255, 255);
}

#event-create-time{
    color: #a60019;
    background-color: rgb(255, 255, 255);
}

#event-create-location{
    color: #a60019;
    background-color: rgb(255, 255, 255);
}