#app-grid-item {
    text-align: center;
    height: 300px;
    width: 300px;
    min-width: fit-content;
    min-height: fit-content;
    max-width: 300px;
    max-height: 200px;
    padding: 20px;
    margin: 3%;
    background-color: white;
    box-shadow: 2px 2px #2e2e2eaf;
    border-radius: 20px;
}

#app-user-p {
    color: rgb(255, 107, 21);
    font-size: 20px;
    font-weight: bolder;
}

#app-admin-h2{
    font-size: 32px;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 15px;
}

.admin-span{
    margin: 5%;
}

#app-auth-p{
    font-size: 14px;
}

#app-btn{
    color: rgb(255, 166, 0);
}

#app-btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 112, 60);
}

#app-main-container {
      background: url(../../Images/RoyaltyFreePastels2.jpeg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      min-width: 100vw;
      min-height: fit-content;
}

.h2-div{
    background-color: rgb(255, 166, 0);
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin:auto;
    box-shadow: 2px 2px #2e2e2eaf;
    border-radius: 10px;
}

#transluscent-div{
        background-color: rgba(66, 66, 66, 0.199);
        background-repeat: no-repeat, repeat;
        background-size: cover;
        height: 1000vh;
        width: 100vw;
}