#footer-container {
  background-color: rgb(131, 131, 131);
  bottom: 0;
  width: 100vw;
  position: fixed;
  height: 7vh;
  overflow-x: auto;
}


#footer-icon{
  color: #ffffff;
}

#footer-icon:hover {
  color: #18ffd9
}


#bottom-nav{
  padding: 0;
  margin: auto 0;
  color: white;
}

