.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputCentered {
  width: 90px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 10px;
}

.selectCentered {
  width: 120px;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 10px;
}

.buttonCentered {
  display: block;
  margin: 0 auto;
}
