
.galleryGrid{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    margin: auto;
}

#pendingGrid{
    width: 90vw;
}

.page{
    width: 90vw;
    margin: auto;
}

 .galleryItem {
    width: 300px;
    padding: 20px;
    margin: 10px;
}

.uploadDiv{
    color: #577590;
}

#itembar{
    text-overflow: ellipsis;

}