.nav-title{
  color: white
}

#paper-div {
  background-image: linear-gradient(40deg, #7c5af8de, #5fb1c0);
  color: white;
}

#nav-tab-home{
  color:white;
  font-family: 'Cabin Sketch', cursive;
  font-size: 22px;
}

#nav-tab-gallery {
  color: white;
  font-family: 'Cabin Sketch', cursive;
  font-size: 22px;
}

#nav-tab-events {
  color: white;
  font-family: 'Cabin Sketch', cursive;
  font-size: 22px;
}

#nav-tab-drawings {
  color: white;
  font-family: 'Cabin Sketch', cursive;
  font-size: 22px;
}

#nav-tab-admin{
  color: white;
  font-family: 'Cabin Sketch', cursive;
  font-size: 22px;
}

#nav-tab-logout{
  color: white;
  font-family: 'Cabin Sketch', cursive;
  font-size: 22px;
}

#nav-tab-home:hover {
  background-color: rgb(0, 54, 204);
}

#nav-tab-gallery:hover {
  background-color: rgb(110, 110, 110);
}

#nav-tab-events:hover {
  background-color: rgb(163, 0, 204);
}

#nav-tab-drawings:hover {
  background-color: rgb(240, 0, 132);
}

#nav-tab-admin:hover {
  background-color: rgb(233, 75, 2);
}

#nav-tab-logout:hover {
  background-color: rgb(223, 0, 0);
}