#paper-div {
  background-image: linear-gradient(40deg, #734cffde, #00b2d1);
}

#nav-tab-about{
  color:white;
  font-family: 'Cabin Sketch', cursive;
  font-size: 24px;
}

#nav-tab-user {
  color: white;
  font-family: 'Cabin Sketch', cursive;
  font-size: 24px;
}

#nav-tab-events {
  color: white;
  font-family: 'Cabin Sketch', cursive;
  font-size: 24px;
}

#nav-tab-drawings {
  color: white;
  font-family: 'Cabin Sketch', cursive;
  font-size: 24px;
}

#nav-tab-admin{
  color: white;
  font-family: 'Cabin Sketch', cursive;
  font-size: 24px;
}

#nav-tab-logout{
  color: white;
  font-family: 'Cabin Sketch', cursive;
  font-size: 24px;
}

#nav-tab-about:hover {
  background-color: rgb(14, 0, 207);

}

#nav-tab-user:hover {
  background-color: rgb(110, 110, 110);
}

#nav-tab-events:hover {
  background-color: rgb(163, 0, 204);
}

#nav-tab-drawings:hover {
  background-color: rgb(240, 0, 132);
}

#nav-tab-admin:hover {
  background-color: rgb(255, 106, 37);
}

#nav-tab-logout:hover {
  background-color: rgb(255, 37, 37);
}
